._no_padding {
  padding: 0px !important;
}

._padding-medium {
  padding: 15px !important;
}

._padding-large {
  padding: 25px !important;
}

._padding-top-none {
  padding-top: 0px !important;
}

._padding-bottom-medium {
  padding-bottom: 15px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

._padding-rigth-60 {
  padding-right: 60px !important;
}

._padding-right-none {
  padding-right: 0px !important;
}

._padding-left-none {
  padding-left: 0px !important;
}

._padding-bottom-15 {
  padding-bottom: 15px;
}

// ------------ margin left ------------

.padding-left-tiny {
  padding-left: 5px !important;
}

.padding-left-small {
  padding-left: 10px !important;
}

.padding-left-medium {
  padding-left: 15px !important;
}

.padding-left-large {
  padding-left: 25px !important;
}

.padding-left-xlarge {
  padding-left: 40px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-left-60 {
  padding-left: 60px !important;
}

.padding-left-80 {
  padding-left: 80px !important;
}

.padding-left-85 {
  padding-left: 85px !important;
}

// ------------ padding top ------------
.padding-top-20 {
  padding-top: 20px !important;
}