$white: #fff;
$light-blue: #4ab6f0;
$medium-blue: #38a9e5;
$dark-blue: #2fa5e4;
$box-shadow: rgba(0, 0, 0, 0.12);
$field-border: #dae1e3;
$input-color: #4b5b62;
$helper-text: #888;
$avatar-background: #c6dae3;
$auth-background: #f8fbfd;
