@import "bootstrap";
@import "base/colors";

.layout {
  display: flex;
  height: 100vh;
}

//right content section

.authentication-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8vh;
  margin: 0 5%;
  width: 100%;
}

.auth-container {
  -webkit-box-direction: normal;
  color: #738a94;
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
  font-weight: 100;
  line-height: 1.5em;
  max-width: 800px;
  width: 100%;

  .header {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.layout-content {
  background-color: $white;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 24px 4vw 3vw;
  position: relative;
  overflow: auto;
}

.layout-header {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  flex-shrink: 0;
  margin-bottom: 20px;
  justify-content: space-between;

  .title {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: .4px;
    margin: 0;
    min-height: 35px;
    padding: 0;
    white-space: nowrap;
  }

  .chevron-icon {
    margin: 10px;
  }

  .header-breadcrumbs {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .actionbtn {
    margin-left: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.14);
    background: -webkit-gradient(linear,left top,left bottom,from(#9dc438),to(#87a834));
    background: linear-gradient(#9dc438,#87a834);
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    transition: none;
    -webkit-transition: none;
    border: 0;
    fill: $white;
    color: $white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    font-size: 13px;

    &.--blue {
      background: linear-gradient($light-blue, $dark-blue 60%, $dark-blue 90%, $medium-blue);
    }
  }
}

.alert {
  align-self: center;
  background: #f05230;
  width: 50%;
  left: 25%;
  top: 0px;
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  padding: 2px;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
