.profile-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 700px;
  position: relative;
  width: 80%;

  .lbl {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 0px;
  }

  .field {
    border: 1px solid #dae1e3;
    border-radius: 4px;
    color: #4b5b62;
    display: block;
    font-family: inherit;
    font-size: 18px;
    font-weight: 100;
    height: 44px;
    padding: 10px 10px 10px 35px;
    width: 100%;

    &.--area {
      min-height: 120px;
    }
  }

  .helper-text {
    color: #888;
    font-size: 13px;
    margin-top: 5px;
  }
}
