// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-page {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.cover-placeholder {
  background: image-url("user-cover.png");
  background-size: cover;
  border-radius: 5px;
  height: 300px;
  margin-bottom: 30px;
  width: 100%;
}
