<!DOCTYPE html>
<html>
  <head>
    <title>GhostRailsKristina</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/90b92514d7.js"></script>
  </head>

  <body>

    <main class="layout">
      <div class="authentication-content">
        <%= yield %>
      </div>

    </main>
  </body>
</html>
